# **Topic: Basic Print in Python**

In [ ]:
print("Hello class!")
print('Welcome to CSE 309 course!')

Hello class!
Welcome to CSE 309 course!

In [ ]:
print(22101011)

22101011

In [ ]:
print(100.45)

100.45

In [ ]:
print('My id is: ', 2310106)

My id is:  2310106

In [ ]:
print("I'm", 20, "years old")

I'm 20 years old

In [ ]:
print("Line 1\nLine 2")   # Newline
print("Tab\tseparated")   # Tab
print("Quote: 'Hello'") # Double quote

Line 1
Line 2
Tab	separated
Quote: 'Hello'

In [ ]:
print('It\'s raining outside')
print("It's raining outside")

It's raining outside
It's raining outside

In [ ]:
print('He says -"Hello"')

He says -"Hello"

**Is the number of spaces the same here?**

In [ ]:
print("Tab\tseparated")
print("Tab \t separated")

Tab	separated
Tab 	 separated

# **Topic: Simple value assigning**

In [ ]:
x = 10
y = 3.987654
name = "Python"
is_snake = False
multiline_string = """This is a
multi-line
string"""

In [ ]:
print(type(x))
print(type(y))
print(type(name))
print(is_snake)
print(multiline_string)

<class 'int'>
<class 'float'>
<class 'str'>
False
This is a
multi-line
string

In [ ]:
print('hello ' *3 )

hello hello hello

In [ ]:
name = "Python"
animal = 'snake'
print("I'm", name , "years old")
print(f"Hi, I am {name}. See I am not a {animal}.")

Hi, I am Python.See I am not a snake.

In [ ]:
print(type(name))

<class 'str'>

In [ ]:
x, y, z = 1, 3, 2
print(x, y, z)

1 3 2 2.98

In [ ]:
x, y, z, id = 1, 2,7.9,'22201186'
print(x, y, z, id)

1 2 7.9 22201186

**Guess the output**

In [ ]:
x, y, aa, ab = 1, 2, 3
print(x, y, aa)

1 2 3

In [ ]:
a, b,c,d = 1,2,3,4,5
print(a,b,c,d)

ValueError: too many values to unpack (expected 4)

In [ ]:
a, b, *r = 1,2,3,4,5,6,7,8,9
print(a, b, r, sep="\n")

1
2
[3, 4, 5, 6, 7, 8, 9]

In [ ]:
*a, b, rest = 1,2,3,4,5,6,7,8,9
print(a, b, rest, sep="\n")

[1, 2, 3, 4, 5, 6, 7]
8
9

In [ ]:
a, *b, rest = 1,2,3,4,5,6,7,8,9
print(a, b, rest, sep="\n")

In [ ]:
a=b=c=d=e=9
print(a,b,c,d,e)

9 9 9 9

In [ ]:
#Arithmetic operation
x = 10
y = 4

addition = x + y
subtraction = x - y
multiplication = x * y
division = x / y
floor_division = x // y
modulus = x % y
exponentiation = x ** y

In [ ]:
print(addition)
print(subtraction)
print(multiplication)
print(division)
print(floor_division)
print(modulus)
print(exponentiation)

14
6
40
2.5
2
2
10000

In [ ]:
#Comparison operation
x = 10
y = 3

equal = x == y
not_equal = x != y
greater_than = x > y
less_than = x < y
greater_or_equal = x >= y
less_or_equal = x <= y