# **Dictionary**

In [ ]:
students = {'22101011': 'Urmi',
            '22101012': 'Sajid',
            '22101013': 'Toma'}
print(students)
print(type(students))

{'22101011': 'Urmi', '22101012': 'Sajid', '22101013': 'Toma'}
<class 'dict'>

In [ ]:
print(students['22101012'])

In [ ]:
students['22101011'] = 'Asif'

In [ ]:
print(students)

{'22101011': 'Asif', '22101012': 'Sajid', '22101013': 'Toma'}

In [ ]:
students['22101020']= 'Nusrat'

In [ ]:
print(students)
students['22101014'] = 'Nawmi'
print(students)

{'22101011': 'Asif', '22101012': 'Sajid', '22101013': 'Toma', '22101020': 'Nusrat'}
{'22101011': 'Asif', '22101012': 'Sajid', '22101013': 'Toma', '22101020': 'Nusrat', '22101014': 'Nawmi'}

In [ ]:
print(students['Akash'])

KeyError: 'Akash'

In [ ]:
print(students)

{'22101011': 'Asif', '22101012': 'Sajid', '22101013': 'Toma', '22101020': 'Nusrat', '22101014': 'Nawmi'}

In [ ]:
students.get('22101011')

'Asif'

In [ ]:
print(students.keys())
print(students.values())
print(students.items())

dict_keys(['22101011', '22101012', '22101013', '22101020', '22101014'])
dict_values(['Asif', 'Sajid', 'Toma', 'Nusrat', 'Nawmi'])
dict_items([('22101011', 'Asif'), ('22101012', 'Sajid'), ('22101013', 'Toma'), ('22101020', 'Nusrat'), ('22101014', 'Nawmi')])

In [ ]:
students['22101014'] = 'Nabila'
print(students)

{'22101011': 'Asif', '22101012': 'Sajid', '22101013': 'Toma', '22101020': 'Nusrat', '22101014': 'Nabila'}

In [ ]:
print(students)

{'22101011': 'Asif', '22101012': 'Sajid', '22101013': 'Toma', '22101020': 'Nusrat', '22101014': 'Nabila'}

In [ ]:
students.update({'22101011': 'Peter', '22101022': 'David'})
print(students)

{'22101011': 'Peter', '22101012': 'Sajid', '22101013': 'Toma', '22101020': 'Nusrat', '22101014': 'Nabila', '22101022': 'David'}

In [ ]:
print(students.pop('22101011'))
print(students)

Peter
{'22101012': 'Sajid', '22101013': 'Toma', '22101020': 'Nusrat', '22101014': 'Nabila', '22101022': 'David'}

In [ ]:
item = students.popitem()
print(item)
print(students)

('22101022', 'David')
{'22101012': 'Sajid', '22101013': 'Toma', '22101020': 'Nusrat', '22101014': 'Nabila'}

In [ ]:
students.clear()
print(students)

{}

In [ ]:
del students
print(students)

NameError: name 'students' is not defined

In [ ]:
students = {'22101011': 'Fahim',
            '22101012': 'Borhan',
            '22101013': 'Mostak'}
students_copy = students
print(students_copy)

{'22101011': 'Fahim', '22101012': 'Borhan', '22101013': 'Mostak'}

In [ ]:
students_copy['22101011'] = 'Peter'
print(students_copy)
print(students)

{'22101011': 'Peter', '22101012': 'Borhan', '22101013': 'Mostak'}
{'22101011': 'Peter', '22101012': 'Borhan', '22101013': 'Mostak'}

In [ ]:
# prompt: COPY OF dictionary

students = {'22101011': 'David',
            '22101012': 'John',
            '22101013': 'Mary'}

# Method 1: Using the copy() method
students2 = students.copy()
print(students2)

# Method 2: Using dict() constructor
students3 = dict(students)
print(students3)

{'22101011': 'David', '22101012': 'John', '22101013': 'Mary'}
{'22101011': 'David', '22101012': 'John', '22101013': 'Mary'}

In [ ]:
students2['22101011'] = 'Jemmy'
print(students2)
print(students)

{'22101011': 'Jemmy', '22101012': 'John', '22101013': 'Mary'}
{'22101011': 'David', '22101012': 'John', '22101013': 'Mary'}

In [ ]:
list1= [1,10,25]
list2 = list1
print(list2)
list2[0] = 100
print(list2)
print(list1)

[1, 10, 25]
[100, 10, 25]
[100, 10, 25]

Write a Python program that defines a function to take multiple lists as input. Each list represents the marks of a student. The function should calculate the total marks for each student and return the highest total among them.

In [ ]:
def highest_total_marks(*student_marks):
  new_list = []
  for marks in student_marks:
    new_list.append(sum(marks))
  highest_total = max(new_list)
  return highest_total

student1_marks = [80, 90, 75]
student2_marks = [95, 85, 92]
student3_marks = [70, 80, 88]

highest_marks = highest_total_marks(student1_marks, student2_marks, student3_marks)
print(f"The highest total marks among all students: {highest_marks}")

The highest total marks among all students: 272