In [ ]:
def multiplication(a,b):
  return(a*b)

print(multiplication(10,2))

20

In [ ]:
def average():
  pass

In [ ]:
def hello2():
    print("Hello, World!")

4

In [ ]:
def greet(name, name1):
    print("Hello", name,name1)

greet("Alice",'Jeem')

[1, 2, 3]

In [ ]:
def add(a=0,b=0,c=0):
    return a + b + c

result = add(5)
print(result)

2

In [ ]:
def add_all(*numbers):
    for i in numbers:
      print(i)
    print(sum(numbers))

add_all(1,2,3,4)

[1, 3]

In [ ]:
def sum_num(*a):
  result = sum(a)
  return result

result  = sum_num(1,2,3,3,4,5)
print(result)

[]

In [ ]:
def m(*a):
  result = 1
  for i in a:
    result*=i
  return result


print(m(1,2,3,4,5))

In [ ]:
x = 10

def example():
    x = 5
    print(x)

example()
print(x)

In [ ]:
#pass list as an argument
def print_list(items):
    for item in items:
        print(item)

my_list = [1, 2, 3, 4, 5]
print_list(my_list)

In [ ]:
def max_fun(list1):
   return max(list1)

list2 = [1,2,5,30,5,9]
print(max_fun(list2))

In [ ]:
def max_fun(list1):
  max_value = 0
  for i in list1:
    if i>max_value:
      max_value = i
  return max_value

list2 = [10,1,3,5,1,0]
print(max_fun(list2))

In [ ]:
def grade_count(marks):
  count = 0
  for i in marks:
    if i >= 80:
      count += 1
  return count

students_marks = [70,45,67,99,97,80]
print(grade_count(students_marks))

In [ ]:
def square_elements(nums):
    squared_numbers = []
    for num in nums:
        squared_numbers.append(num ** 2)
    return squared_numbers

my_numbers = [1, 2, 3, 4]
squared = square_elements(my_numbers)
print(squared)

In [ ]:
#pass multiple list in function
def merge_lists(list1, list2):
    return list1 + list2

list_a = [1, 2, 3]
list_b = [4, 5, 6]
combined = merge_lists(list_a, list_b)
print(combined)

In [ ]:
def concatenate_lists(*v):
  result = []
  for i in v:
    result.append(sum(i))

  return max(result)

list_1 = [81,90,78]
list_2 = [99,80,79]
list_3 = [78,77,80]


print(concatenate_lists(list_1,list_2,list_3))
#summation = concatenate_lists(list_1, list_2, list_3,list_4)
#print(summation)

In [ ]:
st_1 = [80,50,69,21]
st_2 = [80,97.56,33]
st_3 = [80,59,60,21]
st_4 = [67,50,69,85]

In [ ]:
# Function that takes a tuple as an argument
def print_tuple(my_tuple):
    for item in my_tuple:
        print(item)

example_tuple = (1, 2, 3, 4, 5)

print_tuple(example_tuple)

In [ ]:
# Function that takes a dictionary as an argument

def print_dictionary(my_dict):
    for key, value in my_dict.items():
        print(key)
        print(value)

example_dict = {"name": "Alice",
                "age": 30,
                "city": "New York"}

print_dictionary(example_dict)

name
Alice
age
30
city
New York

In [ ]:
def print_keys(d):
  for i in d.values():
    print(i)

example_dict = {"name": "Alice",
                "age": 30,
                "city": "New York"}

print_keys(example_dict)

Alice
30
New York

In [ ]:
# Function that takes a dictionary as an argument

def print_dictionary(my_dict):
    for i in my_dict.items():
        print(i)

example_dict = {"name": "Alice",
                "age": 30,
                "city": "New York"}

print_dictionary(example_dict)

In [ ]:
def sum_values(data):
    total = sum(data.values())
    return total

# Example usage
numbers = {'a': 10, 'b': 20, 'c': 30}
x = sum_values(numbers)
print(x)

In [ ]:
def calculate_marks(students):
    results = {}

    for s in students.keys():
        total = sum(students[s])
        print(students[s])
        results[s] = total

    return results

students_marks = {
    'Alice': [85, 90, 78],
    'Bob': [70, 82, 88],
    'Charlie': [95, 85, 90],
}
marks_summary = calculate_marks(students_marks)
print(marks_summary)

[85, 90, 78]
[70, 82, 88]
[95, 85, 90]
{'Alice': 253, 'Bob': 240, 'Charlie': 270}

In [ ]:
def total_marks(*s):
  result = []
  for i in s:
    result.append(dict(i))

  return result




students_marks = {
    'Alice': [85, 90, 78],
    'Bob': [70, 82, 88],
    'Charlie': [95, 85, 90],
}

s1 = {
    '1': 'one',
    '2': 'two',
    '3': 'three',
    '4': 'four',
    '5': 'five',
}
total_marks(students_marks,s1)

[{'Alice': [85, 90, 78], 'Bob': [70, 82, 88], 'Charlie': [95, 85, 90]},
 {'1': 'one', '2': 'two', '3': 'three', '4': 'four', '5': 'five'}]