# **Topic: List**

In [ ]:
# prompt: all operation of list in python

# Creating a list
my_list = [1, 2, 3, 4, 5]

# Accessing elements
print(my_list[0])


# Slicing
print(my_list[1:4])

# Modifying elements
my_list[2] = 10
print(my_list)




# List length
print(len(my_list))


# List concatenation
list1 = [1, 2, 3]
list2 = [4, 5, 6]
concatenated_list = list1 + list2
print(concatenated_list)

# List repetition
repeated_list = list1 * 3
print(repeated_list)

# List sorting
my_list.sort()
print(my_list)

# List reversing
my_list.reverse()
print(my_list)


# Clearing a list
my_list.clear()
print(my_list)

1
[2, 3, 4]
[1, 2, 10, 4, 5]
5
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]
[1, 2, 4, 5, 10]
[10, 5, 4, 2, 1]
[]

In [ ]:
my_list = [1, 2, 3, 4, 5]
# Slicing
print(my_list[1:4])
# Adding elements
my_list.append(7)
print(my_list)

my_list.extend([11,12,13])
print(my_list)

[2, 3, 4]
[1, 2, 3, 4, 5, 7]
[1, 2, 3, 4, 5, 7, 11, 12, 13]

In [ ]:
list6 = [1,2,3,4,5]
list6.append([20,40,30])
print(list6)
list6.extend([20,40,30])
print(list6)

[1, 2, 3, 4, 5, [20, 40, 30]]
[1, 2, 3, 4, 5, [20, 40, 30], 20, 40, 30]

In [ ]:
list7= [11,22,33]
list7.append([99,98,97])
print(list7)

list7.insert(2, 'Python')
print(list7)

[11, 22, 33, [99, 98, 97]]
[11, 22, 'Python', 33, [99, 98, 97]]

In [ ]:
list8 = [1,1,1,2,3]
# Removing elements
list8.remove(1)
print(list8)

[1, 1, 2, 3]

In [ ]:
print(list8.pop()==list8[-1])

False

In [ ]:
print(list8[-1] == list8.pop())

True

In [ ]:
list9 = [10,20,30,40,50]
popped_element = list9.pop()
print(popped_element)
print(list9)

50
[10, 20, 30, 40]

In [ ]:
# list_name[start:stop:step]

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(my_list[1:7:2])
print(my_list[1:7:-2])
print(my_list[7:1:-2])
print(my_list[1:])
print(my_list[:7])
print(my_list[::2])
print(my_list[::-1])
print(my_list[1:len(my_list):3])

[2, 4, 6]
[]
[8, 6, 4]
[2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[2, 5, 8]