Union

In [ ]:
a = {}
print(type(a))
a = {1,2,3}
print(type(a))

<class 'dict'>
<class 'set'>

In [ ]:
set_a = {1, 2, 3}
set_b = {3, 4, 5}

# Using | operator
union_set = set_a | set_b

print(union_set)

{1, 2, 3, 4, 5}

In [ ]:
# Using union() method
set_a = {1, 2, 3}
set_b = {3, 4, 5}
union_set = set_b.union(set_a)
print(union_set)

{1, 2, 3, 4, 5}

 Intersection (& or .intersection())

In [ ]:
set_a = {1, 2, 3}
set_b = { 3, 4, 5}

# Using & operator
intersection_set = set_a & set_b

# Using intersection() method
intersection_set1 = set_a.intersection(set_b)

print(intersection_set)

{3}

 Difference (- or .difference())

In [ ]:
set_a = {1, 2, 3, 4}
set_b = {1, 2, 3,5,6}

# Using - operator
difference_set = set_b - set_a
print(difference_set)
print(set_a - set_b)

print(set_b - set_a == set_a - set_b)

{5, 6}
{4}
False

In [ ]:
set_a = {1,2,3}
set_b = {3}

# Using difference() method
difference_set = set_b.difference(set_a)

In [ ]:
print((set_a - set_b) == (set_b - set_a))

False

Symmetric Difference (^ or .symmetric_difference())

In [ ]:
set_a = {1, 2, 3, 4}
set_b = {3, 4, 5}

# Using ^ operator
sym_diff_set = set_b ^ set_a

# Using symmetric_difference() method
#sym_diff_set = set_a.symmetric_difference(set_b)

print(sym_diff_set)

{1, 2, 5}

Subset and Superset

In [ ]:
a = {4,5}
b = {1, 2, 3, 4}

# Check if set_a is a subset of set_b
print(a <= b)

# Check if set_b is a superset of set_a
print(b >= a)  # Output: True

False
False

In [ ]:
my_list = [1, 2, 2, 3, 4, 4, 5]
unique_elements = set(my_list)
print(unique_elements)

{1, 2, 3, 4, 5}

In [ ]:
my_set = {1, 2, 3, 4, 5}
print(3 in my_set)
print(6 in my_set)

True
False

In [ ]:
my_list = [1, 2, 2, 3, 3, 3, 4]
distinct_count = len(set(my_list))
print(distinct_count)

4

In [ ]:
my_set = {1, 2, 3}
my_set.add(4)
print(my_set)

my_set.add(2)
print(my_set)

{1, 2, 3, 4}
{1, 2, 3, 4}

In [ ]:
my_set = {1, 2, 3}
my_set.update([4, 5, 6])
print(my_set)

my_set.update({7, 8}, (9, 10))
print(my_set)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
my_set = {1, 2, 3}
my_tuple = (4, 5)


my_set.add(my_tuple)
print(my_set)

{(4, 5), 1, 2, 3}

In [ ]:
my_set = {1, 2, 3}
my_list = [4, 5, 6]


my_set.add(my_list)
print(my_set)

TypeError: unhashable type: 'list'

In [ ]:
set_1 = {1,2,3}
set_2 = {5,6}

set_1.add(set_2)
print(set_1)

TypeError: unhashable type: 'set'