# **Tuple**


*   Tuples are **indexed** **ordered**, and **immutable**.
*   Tuple can have duplicates.

In [ ]:
students = ('david', 'john', 'mary')
print(students)
print(type(students))

('david', 'john', 'mary')
<class 'tuple'>

In [ ]:
print(students[0])

david

In [ ]:
for student in students:
  print(student)

david
john
mary

In [ ]:
students[1] = 'Jemmy'

TypeError: 'tuple' object does not support item assignment

In [ ]:
students.append('Jemmy')

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
students.remove('john')

AttributeError: 'tuple' object has no attribute 'remove'

In [ ]:
updated_student = ('Younus',) + students + ('jemmy','Ekra') #mandatory to use the comma after one item

In [ ]:
print(updated_student)

('Younus', 'david', 'john', 'mary', 'jemmy', 'Ekra')

In [ ]:
print(students[:len(students)])

('david', 'john', 'mary')

In [ ]:
my_tuple = (1, 2, 3)
print(my_tuple)
a, *b= my_tuple
print(a)
print(b)

(1, 2, 3)
1
[2, 3]

In [ ]:
a, *b = my_tuple
print(a)
print(b)

1
[2, 3]

## **Add, change value, remove, and insert in a tuple using list conversion.**

In [ ]:
fruits = ('Apple', 'Banana', 'Orange', 'Grapes')

fruit_list = list(fruits)

fruit_list.append('Mango')

fruit_list.insert(2, 'Strawberry')

my_fruits = tuple(fruit_list)

print(my_fruits)

('Apple', 'Banana', 'Strawberry', 'Orange', 'Grapes', 'Mango')

In [ ]:
fruits = ('Apple', 'Banana', 'Orange', 'Grapes')

fruit_list = list(fruits)

fruit_list.remove('Orange')

fruits = tuple(fruit_list)

print(fruits)

In [ ]:
#take input in a tuple using for loop

n = int(input("Enter the number of elements you want in the tuple: "))

input_list = []

for i in range(n):
    element = input("Enter element: ")
    input_list.append(element)

input_tuple = tuple(input_list)

print("The tuple is:", input_tuple)

In [ ]:
##Questions for today:
##1. take a fruit's name user input and add the item in your my_fruits tuple.
##2. take a fruit's name user input and remove the item from your my_fruits tuple.